spring:
  application:
    name: order
  config:
    import: configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: true
      discovery:
        enabled: true
        serviceId: config-server
      retry:
        useRandomPolicy: true
        max-interval: 6000